#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: .7;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* admin appointments */
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.deleteBtn {
    margin-left: 23px;
}

.modalBodyCss {
    font-size: 18px;
    font-weight: bold;
    text-align: center;

}

.edit-modal-body {
    text-align: center;
}
.edit-form {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
} 

.bgShop {
    overflow-x: hidden;
    background: 
        linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.1)),
        url(../img/barbershop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    background-size: cover;

}
.bgSilver{
    
    background: 
        linear-gradient(to bottom, rgba(157,157,157,0.2), rgba(157,157,157,0.1));   
   
}

h1 {
   color:white; 
}

.barbers {
    font-family: 'Oswald', sans-serif;
}

#biancaAndAnaWrapper {
    height: 100%;
    background-image: linear-gradient(
        to right bottom, 
        rgba(42, 48, 41, 0.8), 
        rgba(0, 0, 0, 0.8)), 
        url(../img/chair2.jpg );
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}

#blob {
    background:black; 
    height: 400px;
}

.animateIt {
    animation: moveInLeft 4s ease-out;
    -webkit-animation: moveInLeft 4s ease-out;
}

#slogan {
    color:white; 
    text-align: center; 
    margin-top: 190px;
    font-family: 'Oswald', sans-serif;

}


#barberPromise {
    margin-top: 65px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
      
}




.container {
    width: auto;
    height: 500px;
    display: block;
    position: relative;
    overflow: auto;
    padding: 0px;

}

.container.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.marginAdjustment {
    margin-top: 50px;
    
}

.adminSolid{
    background-color: 
    rgba(157,157,157,0.4);
}

.disp-msg-alert {
    color: #c4374d;
    font-weight: bold;
}

.disp-msg-success {
    color: #1061ed;
    font-weight: bold;
}

.require-field {
    border-color: red;
    border-width: 2px;
}

#clouds {
    width: 100%;
}

@media(min-width: 1000px) {
    #arrow {
        position: relative;
        font-size: 75px;
        margin-top: 50px;
        transform: rotate(-90deg);
        color: white;
        animation: bounceArrow 1s infinite;
        -webkit-animation: bounceArrow 1s infinite;
}

    #rowArrow {
        margin-top: -195px;
    }

    #rowArrowPlaceHolder {
        margin-top: -30px;
    }

    .frontCarousel{
        height: 95vh;
        width: 100%;
        object-fit: cover;

    }
    
    nav {
        z-index: 1;
    }
}

@keyframes bounceArrow {
    0%{top: 0px;}
    50%{top: 20px;}
    100%{top: 0px;}
}
@media(max-width: 999px) {
    #arrow {
        font-size: 0px;
        margin-top: -1px;
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX( -100px);
        -webkit-transform: translateX( -100px);
        -moz-transform: translateX( -100px);
        -ms-transform: translateX( -100px);
        -o-transform: translateX( -100px);
    }

    80% {
        transform: translateX( 10px);
        -webkit-transform: translateX( 10px);
        -moz-transform: translateX( 10px);
        -ms-transform: translateX( 10px);
        -o-transform: translateX( 10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);    
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}
