.container {
    margin: auto;
    padding: 20px;
    margin-top: 1%; 
}

.services {
    border: 2px solid #D5DBDB;
    border-radius: 10px;
    background-color: #D5DBDB;
}

.accordion {
    padding: 10px; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;

}

.selected, .totals, .done-selecting {
    border: 2px solid #D5DBDB;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #D5DBDB;
}

.chosen {
    padding-top: 10%;
}