body {
    
    background-image: url(../img/barbershop.jpg);
    background-size: cover;
    
    
}

.large {
    margin: auto;
    padding: 20px;
    margin-top: 1%; 
}

.top-bar {
    margin-top: 10px;
}
.logout {
    margin-left: 5px;
}

.services {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(166,172,175, .8);
    padding-bottom: 20px;
    padding-top: 10px;

}

.accordion {
    padding: 10px; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;

}

.selected, .totals, .done-selecting {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    background-color: rgba(166,172,175, .9);
}

.chosen {
    padding-top: 10%;
}

.service-select {
    margin-top: 5px;
}